In [2]:
import pandas as pd
import matplotlib as plt

In [3]:
#Exercice sur les functions
stats=pd.read_csv('covid.csv')
stats.head()
#Quelques Operations statistiques
#stats.Population.mean()
stats.Continent.unique()
#print("Voici le Nombre de pays par Continent :")
#stats.Continent.value_counts().plot.bar()
#les maps
#print("Voici la stats par population des pays par Continent :")
#stats_Population_moyenne = stats.Population.mean()
#stats.Population.map(lambda a: a - stats_Population_moyenne)
#stats=pd.options.display.max_rows ==5

array(['North America', 'South America', 'Asia', 'Europe', 'Africa',
       'Australia/Oceania', nan], dtype=object)

In [4]:
stats_Population_moyenne = stats.Population.mean()
def remean_population(row):
    row.Population = row.Population - stats_Population_moyenne
    return row

stats.apply(remean_population, axis='columns')
stats.head()

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [5]:
stats.groupby('Continent').Continent.count()

Continent
Africa               57
Asia                 48
Australia/Oceania     6
Europe               48
North America        35
South America        14
Name: Continent, dtype: int64

In [43]:
stats.groupby('Continent').apply(lambda df: df.Population.iloc[1])

Continent
Africa               102516525.0
Asia                  84097623.0
Australia/Oceania      5002100.0
Europe                46756648.0
North America        129066160.0
South America         33016319.0
dtype: float64

In [45]:
stats.groupby(['Continent', 'Population']).apply(lambda df: df.loc[df.Population.idxmax()])

                                  Country/Region      Continent   Population  \
Continent     Population
Africa        98408.0                 Seychelles         Africa      98408.0
              219544.0     Sao Tome and Principe         Africa     219544.0
              273419.0                   Mayotte         Africa     273419.0
              556581.0                Cabo Verde         Africa     556581.0
              598682.0            Western Sahara         Africa     598682.0
...                                          ...            ...          ...
South America 28427499.0               Venezuela  South America   28427499.0
              33016319.0                    Peru  South America   33016319.0
              45236884.0               Argentina  South America   45236884.0
              50936262.0                Colombia  South America   50936262.0
              212710692.0                 Brazil  South America  212710692.0

                           TotalCases  NewCases  TotalDeaths  NewDeaths  \
Continent     Population
Africa        98408.0             126       NaN          NaN        NaN
              219544.0            878       NaN         15.0        NaN
              273419.0           3042       NaN         39.0        NaN
              556581.0           2734       NaN         27.0        NaN
              598682.0             10       NaN          1.0        NaN
...                               ...       ...          ...        ...
South America 28427499.0        22299       NaN        195.0        NaN
              33016319.0       455409       NaN      20424.0        NaN
              45236884.0       228195       NaN       4251.0        NaN
              50936262.0       357710       NaN      11939.0        NaN
              212710692.0     2917562       NaN      98644.0        NaN

                           TotalRecovered  NewRecovered  ActiveCases  \
Continent     Population
Africa        98408.0               124.0           NaN          2.0
              219544.0              797.0           NaN         66.0
              273419.0             2738.0           NaN        265.0
              556581.0             2010.0           NaN        697.0
              598682.0                8.0           NaN          1.0
...                                   ...           ...          ...
South America 28427499.0          12146.0           NaN       9958.0
              33016319.0         310337.0           NaN     124648.0
              45236884.0          99852.0           NaN     124092.0
              50936262.0         192355.0           NaN     153416.0
              212710692.0       2047660.0           NaN     771258.0

                           Serious,Critical  Tot Cases/1M pop  Deaths/1M pop  \
Continent     Population
Africa        98408.0                   NaN            1280.0            NaN
              219544.0                  NaN            3999.0           68.0
              273419.0                  2.0           11126.0          143.0
              556581.0                  NaN            4912.0           49.0
              598682.0                  NaN              17.0            2.0
...                                     ...               ...            ...
South America 28427499.0               42.0             784.0            7.0
              33016319.0             1426.0           13793.0          619.0
              45236884.0             1150.0            5044.0           94.0
              50936262.0             1493.0            7023.0          234.0
              212710692.0            8318.0           13716.0          464.0

                           TotalTests  Tests/1M pop WHO Region
Continent     Population
Africa        98408.0             NaN           NaN     Africa
              219544.0         3079.0       14025.0     Africa
              273419.0        13000.0       47546.0        NaN
              556581.0        61633.0      110735.0     Africa
              598682.0            NaN           NaN     Africa
...                               ...           ...        ...
South America 28427499.0    1567431.0       55138.0   Americas
              33016319.0    2493429.0       75521.0   Americas
              45236884.0     794544.0       17564.0   Americas
              50936262.0    1801835.0       35374.0   Americas
              212710692.0  13206188.0       62085.0   Americas

[208 rows x 16 columns]

In [50]:
countries_reviewed = stats.groupby(['Continent', 'Population']).Population.agg([len])
countries_reviewed

                           len
Continent     Population
Africa        98408.0        1
              219544.0       1
              273419.0       1
              556581.0       1
              598682.0       1
...                        ...
South America 28427499.0     1
              33016319.0     1
              45236884.0     1
              50936262.0     1
              212710692.0    1

[208 rows x 1 columns]