In [1]:
#importation de pandas
import pandas as pd

In [2]:
#Connaissance de base sur les donn√©es avec DataFrame
d=pd.DataFrame({'Homme':[23,34],'Femme':[34,65]})
i=pd.DataFrame({'Bon':['fouss','baba'],'bad':['zak','fass']})
A=pd.DataFrame({'Animal':['Lion','Tigre'],'Plante':['Mafe','Tournesol']},index=['A','B'])

In [3]:
#Connaissance de base sur les series 
s=pd.Series([1,2,3,4,5])
A1=pd.Series([1200,3400,2400],index=['Stats-2012','Stats-2015','Stats-2022'], name='Statistique')
#print (A1)

In [4]:
#Introduction

stats = pd.read_csv('covid.csv')
stats.head()

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [5]:
#Accesseurs

stats.Population
stats['Continent']
stats['Continent'][1]

'South America'

In [7]:
#Les Indexations Pandas

stats.iloc[2]
stats.iloc[:,2]
stats.iloc[:1,0]
stats.iloc[1:4,0]
stats.iloc[[0,1,2],0]
stats.iloc[:-208]
stats.head()
stats.loc[-1:1,['Continent','Population']]
stats.loc[:,['Continent','Population']]

         Continent    Population
0    North America  3.311981e+08
1    South America  2.127107e+08
2             Asia  1.381345e+09
3           Europe  1.459409e+08
4           Africa  5.938157e+07
..             ...           ...
204  North America  4.992000e+03
205  North America  2.624700e+04
206  South America  3.489000e+03
207         Europe  8.010000e+02
208         Africa  5.986820e+05

[209 rows x 2 columns]

In [ ]:

#Manipulation des donn√©es index√©es

stats.set_index('Continent')

,Country/Region,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
Continent,,,,,,,,,,,,,,,
North America,USA,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
South America,Brazil,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
Asia,India,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
Europe,Russia,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
Africa,South Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
North America,Montserrat,4.992000e+03,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN
North America,Caribbean Netherlands,2.624700e+04,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN
South America,Falkland Islands,3.489000e+03,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN
Europe,Vatican City,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe
Africa,Western Sahara,5.986820e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa

In [ ]:
#Impl√©mentation des conditions

stats.Continent== 'Africa'
stats.loc[stats.Continent=='Africa']
stats.loc[(stats.Continent=='Africa') & (stats.Population>= 60000000)]
stats.loc[stats.Continent.isin(['Africa','Asia'])  & (stats.Population>= 160000000)]
stats.loc[stats.Continent.isin(['Africa','Asia']) & stats.Continent=='NaN']

0      False
1      False
2      False
3      False
4       True
       ...
204    False
205    False
206    False
207    False
208     True
Name: Continent, Length: 209, dtype: bool

In [ ]:
#Affectations des donn√©es 

stats['NewCases']= 20
stats['NewCases']
stats['NewCases']= range(len(stats),0,-1)
stats['NewCases']
stats.head()

In [7]:
#Function
stats= pd.read_csv('covid.csv')
stats.head()
stats.Continent.describe()
stats.Population.describe()

count    2.080000e+02
mean     3.041549e+07
std      1.047661e+08
min      8.010000e+02
25%      9.663140e+05
50%      7.041972e+06
75%      2.575614e+07
max      1.381345e+09
Name: Population, dtype: float64